<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MecWeb</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="public/img/favicon.png" rel="icon">
  <link href="public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fontes do Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Pastas CSS -->
  <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="public/vendor/aos/aos.css" rel="stylesheet">
  <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Modelo Principal Pasta CSS -->
  <link href="public/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Nome do Modelo: UpConstruction
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Modelo URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Autor: BootstrapMade.com
  * Licenciatura: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Cabeçalho ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- <img src="public/img/logo.png" alt=""> -->
        <h1>MecWeb<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Início</a></li>
          <li><a href="veiculos.html">Veículos</a></li>
          <li><a href="motoristas.html">Motoristas</a></li>
          <li><a href="revisoes.html">Revisões</a></li>
          <li><a href="manutencoes.html">Manutenções</a></li>
          <li><a href="mecanicos.html">Mecânicos</a></li>
          <li><a href="contato.html">Contato</a></li>

        </ul>
      </nav>

    </div>
  </header><!-- Fim do Cabeçalho -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('public/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Cadastrar Motorista</h2>
        <ol>
          <li><a href="index.html">Início</a></li>
          <li>Motoristas</li>
          <li>Cadastrar Motorista</li>
        </ol>

      </div>
    </div><!-- Fim Breadcrumbs -->

    <!-- ======= Sessão de detalhes do serviço ======= -->
    <section class="vh-100">
  
  <!-- Conteúdos do formulário -->
  <div class="container">

    <div class="row justify-content-between gy-4">


      <div class="col-lg-5" data-aos="fade">
        <form action="forms/quote.php" method="post" class="php-email-form">

            <!-- Input Nome -->
            <div class="form-outline mb-4">
              <label class="form-label" for="nomeMotorista">Nome Completo:</label>
                <input type="text" id="nomeMotorista" class="form-control" />
              </div>

            <!-- Input CPF -->
            <div class="form-outline mb-4">
              <label class="form-label" for="cpfMotorista">CPF:</label>
                <input type="number" id="cpfMotorista" class="form-control" />
            </div>

             <!-- Input CNH -->
            <div class="form-outline mb-4">
              <label class="form-label" for="cnhMotorista">CNH:</label>
                <input type="text" id="cnhMotorista" class="form-control" />
            </div>
        
            <!-- Input Email -->
            <div class="form-outline mb-4">
              <label class="form-label" for="loginName">Email:</label>
                <input type="email" id="loginName" class="form-control" />
            </div>

            <!-- Input Telefone -->
            <div class="form-outline mb-4">
              <label class="form-label" for="telefoneMotorista">Telefone:</label>
                <input type="number" id="telefoneMotorista" class="form-control" />
            </div>
        
              <!-- Layout de grade de 2 coluna -->
              <div class="row mb-4">
                <div class="col-md-6 d-flex justify-content-center">
                  <!-- Checkbox -->
              </div>
        
              <!-- Butão submit -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
 <!-- Fim do conteúdo do formulário -->
      </section>

  </main><!-- Fim da sessão de detalhes do serviço -->

  <!-- ======= Rodapé ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>MecWeb</h3>
                <strong>Telefone:</strong> (99)99999-9999 <br>
                <strong>Email:</strong> mecweb@email.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- Fim da coluna de informações do rodapé -->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Veículos</a></li>
              <li><a href="#">Motoristas</a></li>
              <li><a href="#">Termos de Privacidade</a></li>
              <li><a href="#">Política de privacidade</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
          </div><!-- Fim da coluna de informações do rodapé -->
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span style="color:#FF8C00">MecWeb</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
        </div>
      </div>
    </div>

  </footer>
  <!-- Fim do rodapé -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Fornecedor Pastas JS -->
  <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="public/vendor/aos/aos.js"></script>
  <script src="public/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="public/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="public/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="public/vendor/php-email-form/validate.js"></script>

  <!-- Pasta modelo principal JS -->
  <script src="public/js/main.js"></script>

</body>

</html>