<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>

  <%- include('./partials/head'); %>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('public/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Cadastrar Mecânico</h2>
        <ol>
          <li><a href="/">Início</a></li>
          <li>Mecânicos</li>
          <li>Cadastrar Mecânico</li>
        </ol>

      </div>
    </div><!-- Fim do Breadcrumbs -->

    <!-- ======= Sessão de detalhes do serviço  ======= -->
    <section class="vh-100">
  
  <!-- Conteúdo do formulário -->
  <div class="container">

    <div class="row justify-content-between gy-4">


      <div class="col-lg-5" data-aos="fade">
        <form action="forms/quote.php" method="post" class="php-email-form">

            <!-- Input Nome -->
            <div class="form-outline mb-4">
              <label class="form-label" for="nomeMecanico">Nome Completo:</label>
                <input type="text" id="nomeMotorista" class="form-control" />
              </div>

              <!-- Input CPF -->
            <div class="form-outline mb-4">
              <label class="form-label" for="cpfMecanico">CPF:</label>
                <input type="number" id="cpfMotorista" class="form-control" />
            </div>

              <!-- Input Email  -->
            <div class="form-outline mb-4">
              <label class="form-label" for="emailMecanico">Email:</label>
                <input type="email" id="emailMotorista" class="form-control" />
            </div>

            <!-- Input Telefone  -->
            <div class="form-outline mb-4">
              <label class="form-label" for="telefoneMecanico">Telefone:</label>
                <input type="number" id="telefoneMotorista" class="form-control" />
            </div>
        
              <!-- Layout de grade de 2 colunas -->
              <div class="row mb-4">
                <div class="col-md-6 d-flex justify-content-center">
                  <!-- Checkbox -->
              </div>
        
              <!-- Botão submit -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
 <!-- Fim do conteúdo do formulário -->
      </section>

  </main><!-- Fim da sessão de detalhes do serviço -->

  <!-- ======= Rodapé ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>MecWeb</h3>
                <strong>Telefone:</strong> (99)99999-9999 <br>
                <strong>Email:</strong> mecweb@email.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- Fim da coluna de informações do rodapé  -->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Veículos</a></li>
              <li><a href="#">Motoristas</a></li>
              <li><a href="#">Termos de Privacidade</a></li>
              <li><a href="#">Política de privacidade</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
          </div><!-- Fim da coluna de informações do rodapé -->
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span style="color:#FF8C00">MecWeb</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
        </div>
      </div>
    </div>

  </footer>
  <!-- Fim do rodapé -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

    <%- include('./partials/head'); %>
</body>

</html>