<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>

  <%- include('./partials/header'); %>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('public/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Cadastrar Veículos</h2>
        <ol>
          <li><a href="index.html">Início</a></li>
          <li>Veículos</li>
          <li>Cadastrar Veículos</li>
        </ol>

      </div>
    </div><!-- Fim Breadcrumbs -->

    <!-- ======= Sessão de detalhes do serviço ======= -->
    <section class="vh-100">
  
      <!-- Conteúdos do formulário -->
      <div class="container">

    <div class="row justify-content-between gy-4">


      <div class="col-lg-5" data-aos="fade">
        <form action="forms/quote.php" method="post" class="php-email-form">

            <!-- Input Modelo -->
            <div class="form-outline mb-4">
              <label class="form-label" for="modeloVeiculo">Modelo:</label>
                <input type="text" id="modeloVeiculo" class="form-control" />
              </div>

                <!-- Input Placa -->
            <div class="form-outline mb-4">
              <label class="form-label" for="placaVeiculo">Placa:</label>
                <input type="text" id="placaVeiculo" class="form-control" />
            </div>

              <!-- Input Veículo -->
            <div class="form-outline mb-4">
              <label class="form-label" for="corVeiculo">Cor:</label>
                <input type="text" id="corVeiculo" class="form-control" />
            </div>
        
              <!-- Input Ano -->
            <div class="form-outline mb-4">
              <label class="form-label" for="anoVeiculo">Ano:</label>
              <input type="number" id="anoVeiculo" class="form-control" />
          </div>

            <!-- Input Marca -->
            <div class="form-outline mb-4">
              <label class="form-label" for="marcaVeiculo">Marca:</label>
                <input type="number" id="marcaVeiculo" class="form-control" />
            </div>

              <!-- Input Carga -->
          <div class="form-outline mb-4">
            <label class="form-label" for="limiteCarga">Limite de carga (em kg):</label>
              <input type="number" id="limiteCarga" class="form-control" />
          </div>

            <!-- Input Motor -->
          <div class="form-outline mb-4">
            <label class="form-label" for="motorVeiculo"> Motor:</label>
            <input type="text" id="motorVeiculo" class="form-control" />
        </div>
        
              <!-- Layout de grade de 2 coluna -->
              <div class="row mb-3">
                <div class="col-md-6 d-flex justify-content-center">
                  <!-- Checkbox -->
              </div>
         <!-- Botão Submit -->
         <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>
        
        </form>
      </div>

    </div>

  </div>
 <!-- Fim do conteúdo do formulário -->
      </section>

  </main><!-- Fim da sessão de detalhes do serviço -->

  <!-- ======= Rodapé ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>MecWeb</h3>
                <strong>Telefone:</strong> (99)99999-9999 <br>
                <strong>Email:</strong> mecweb@email.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- Fim da coluna de informações do rodapé-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Veículos</a></li>
              <li><a href="#">Motoristas</a></li>
              <li><a href="#">Termos de Privacidade</a></li>
              <li><a href="#">Política de privacidade</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
          </div><!-- Fim da coluna de links do rodapé-->
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span style="color:#FF8C00">MecWeb</span></strong>. Todos os direitos reservados
        </div>
        <div class="credits">
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
        </div>
      </div>
    </div>

  </footer>
  <!-- Fim do rodapé -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <%- include('./partials/footer'); %>
</body>

</html>