<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MecWeb</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="public/img/favicon.png" rel="icon">
  <link href="public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="public/vendor/aos/aos.css" rel="stylesheet">
  <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="public/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="public/img/logo.png" alt=""> -->
        <h1>MecWeb<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Início</a></li>
          <li><a href="veiculos.html">Veículos</a></li>
          <li><a href="motoristas.html">Motoristas</a></li>
          <li><a href="revisoes.html">Revisões</a></li>
          <li><a href="manutencoes.html">Manutenções</a></li>
          <li><a href="mecanicos.html">Mecânicos</a></li>
          <li><a href="contato.html">Contato</a></li>

        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('public/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Manutenção</h2>
        <ol>
          <li><a href="index.html">Início</a></li>
          <li>Manutenção</li>
          <li>Manutenções Realizadas</li>

        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
    <section class="intro">
      <div class="bg-image h-100">
        <div class="mask d-flex align-items-center h-100">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-40">
                <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-borderless mb-0">
                        <thead>
                          <tr>
                            <th scope="col">
                              
                            </th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Cor</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Limite de carga</th>
                            <th scope="col">Tamanho do motor</th>
                            <th scope="col">Excluir</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                            </th>
                            <td>HB20</td>
                            <td>GFT-3534</td>
                            <td>Branca</td>
                            <td>2015</td>
                            <td>Hiunday</td>
                            <td>250</td>
                            <td>1</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm px-3">
                                <i class="fas fa-times"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">

                            </th>
                            <td>HB20</td>
                            <td>GFT-3534</td>
                            <td>Branca</td>
                            <td>2015</td>
                            <td>Hiunday</td>
                            <td>250</td>
                            <td>1</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm px-3">
                                <i class="fas fa-times"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                            </th>
                            <td>HB20</td>
                            <td>GFT-3534</td>
                            <td>Branca</td>
                            <td>2015</td>
                            <td>Hiunday</td>
                            <td>250</td>
                            <td>1</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm px-3">
                                <i class="fas fa-times"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                             </th>
                             <td>HB20</td>
                            <td>GFT-3534</td>
                            <td>Branca</td>
                            <td>2015</td>
                            <td>Hiunday</td>
                            <td>250</td>
                            <td>1</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm px-3">
                                <i class="fas fa-times"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>MecWeb</h3>
                <strong>Telefone:</strong> (99)99999-9999 <br>
                <strong>Email:</strong> mecweb@email.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Veículos</a></li>
              <li><a href="#">Motoristas</a></li>
              <li><a href="#">Termos de Privacidade</a></li>
              <li><a href="#">Política de privacidade</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
          </div><!-- End footer links column-->
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span style="color:#FF8C00">MecWeb</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="public/vendor/aos/aos.js"></script>
  <script src="public/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="public/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="public/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="public/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="public/js/main.js"></script>

</body>

</html>