<!-- ======= Cabeçalho ======= -->
<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- <img src="/img/logo.png" alt=""> -->
        <h1>MecWeb<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Início</a></li>
          <li><a href="/veiculoList">Veículos</a></li>
          <li><a href="/motoList">Motoristas</a></li>
          <li><a href="/revisaoList">Revisões</a></li>
          <li><a href="/manutencaoList">Manutenções</a></li>
          <li><a href="/mecList">Mecânicos</a></li>
          <li><a href="/contato">Contato</a></li>

        </ul>
      </nav>

    </div>
  </header><!-- Fim do Cabeçalho -->
